* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "montserrat",sans-serif;
    background-color: #F2F2F2;

}
.container {
    width: 120rem;
    margin: 0 auto;
}
.pb-lg {
    padding-bottom: 8rem !important;
}
.pt-lg {
    padding-top: 8rem !important;
}
.grid {
    display: grid;
    justify-items: center;
    row-gap: 6.4rem;
    column-gap: 3.2rem;
    }
.grid-3 {
        grid-template-columns: repeat(3,1fr);
    }
.grid-4 {
        grid-template-columns: repeat(4,1fr);
    }